html, body {
    /*font-size: 12px;*/
    color: #333;
}

body {
    margin: 4em auto;
    max-width: 68em;
    text-align: justify;
}

section, span, div, table {
    text-align: justify;
}

@media print {
    @page {
        margin: 1.5cm;
    }

    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: visible !important;
    }
    
    .ui.grid {
        display: block !important;
    }

    html, body {
        font-size: 10px;
    }

    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    div {
        page-break-inside: avoid;
    }

    h1, h2 {
        text-decoration: underline;
    }

    a {
        font-weight: bolder;
        text-decoration: none;
    }

    a[href^=http]:after {
        content: " <" attr(href) "> ";
    }

}
