<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">

    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@paul_crane">
    <meta name="twitter:creator" content="@paul_crane">

    <meta property="og:url" content="https://paul.crane.net.nz">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="{% include 'html/name.html' %}">
    <meta property="og:description" content="{{ tag }}">
    <meta property="og:site_name" content="{% include 'html/name.html' %} - Resume">
    <meta property="og:locale" content="en_GB">

    <title>{% include 'html/name.html' %}</title>
    <meta name="description" content="{{ tag }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous" />

    <link href="style.css" type="text/css" rel="stylesheet"/>
    <link href="print.css" type="text/css" rel="stylesheet" media="print"/>

    <!-- Structured Data -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "{{ name }}",
            "jobTitle": "{{ jobTitle }}",
            "givenName": "{{ givenName }}",
            "familyName": "{{ familyName }}",
            "url": "https://paul.crane.net.nz",
            "email": "mailto:{{ email }}",
            "sameAs": [
                "https://github.com/pcrane",
                "https://www.linkedin.com/in/paulscrane/",
                "https://scholar.google.co.nz/citations?user=kjrHeXQAAAAJ",
                "https://stackoverflow.com/users/8884278/paul-crane",
                "http://keybase.io/pscrane",
                "https://twitter.com/paul_crane",
                "https://otago.academia.edu/PaulCrane",
                "http://orcid.org/0000-0002-7327-3873",
                "https://www.researchgate.net/profile/Paul_Crane2"
            ],
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Oxford",
                "addressRegion": "Oxfordshire",
                "addressCountry": "gb"
            },
            "alumniOf": {
                "@type": "EducationalOrganization",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "362 Leith Street",
                    "addressLocality": "Dunedin",
                    "addressRegion": "Otago"
                },
                "url": "https://otago.ac.nz",
                "name": "University of Otago"
            }
        }

    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SY6Y3RR4P5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SY6Y3RR4P5');
    </script>

    {%- macro link_format(href, text, onclick, rel="noopener noreferrer", target="_blank") -%}
        <a href="{{ href }}" {% if onclick -%}onclick="{{ onclick }}"{%- endif %}{%- if rel | length>0 %}
           rel="{{ rel }}"{%- endif %} target="{{ target }}">{{ text }}</a>
    {%- endmacro %}
</head>

<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQBF3LB"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<div class="ui main container" role="main">
    <div class="ui one column centered grid">
        {%- include 'html/title.html' -%}
        {%- if employment -%}
            {%- include 'html/employment.html' -%}
        {%- endif -%}
        {%- if 0 -%}
            {%- if projects -%}
                {%- include 'html/projects-engineer.html' -%}
            {%- endif -%}
            {%- if projects -%}
                {%- include 'html/projects-research.html' -%}
            {%- endif -%}
        {%- endif -%}
        {%- if awards -%}
            {%- include 'html/awards.html' -%}
        {%- endif -%}
        {%- if education -%}
            {%- include 'html/education.html' -%}
        {%- endif -%}
        {%- if 0 -%}
            {%- if memberships -%}
                <h1>WARNING - FILL THE TEMPLATE FOR ASSOCIATION MEMBERSHIP</h1>
            {%- endif -%}
            {%- if research -%}
                <h1>WARNING - FILL THE TEMPLATE FOR RESEARCH</h1>
            {%- endif -%}
            {%- if grants -%}
                <h1>WARNING - FILL THE TEMPLATE FOR GRANTS</h1>
            {%- endif -%}
            {%- if invited -%}
                <h1>WARNING - FILL THE TEMPLATE FOR INVITED TALKS</h1>
            {%- endif -%}
            {%- if consulting -%}
                <h1>WARNING - FILL THE TEMPLATE FOR CONSULTING</h1>
            {%- endif -%}
            {%- if advisory -%}
                <h1>WARNING - FILL THE TEMPLATE FOR ADVISORY BOARDS</h1>
            {%- endif -%}
        {%- endif -%}
        {%- if publications -%}
            {%- include 'html/publications.html' -%}
        {%- endif -%}
        {%- if service -%}
            {%- include 'html/services.html' -%}
        {%- endif -%}
    </div>
</div>
</body>
</html>