{% extends 'html/section.html' %}

{% block section_title %}Teaching{% endblock %}

{% block section_body %}

<h3>Lecturing</h3>
{#{% for class in lecturing %}#}
{% include 'html/lecturing.html' %}
{#{% endfor %}#}

<h3>Demonstrating</h3>
{#{% for class in demonstrating %}#}
{% include 'html/demonstrating.html' %}
{#{% endfor %}#}

<h3>Formal Feedback</h3>
<p>{{ feedback.informal.preface }}</p>
<ul>
    {% for comment in feedback.formal.comments %}
    {% include 'html/feedback-formal.html' %}
    {% endfor %}
</ul>

<h3>Informal Feedback</h3>
<p>{{ feedback.informal.preface }}</p>
{% for comment in feedback.informal.comments %}
{% include 'html/feedback-informal.html' %}
{% endfor %}
{% endblock %}